.vscode
.pytest_cache
__pycache__
*.cpython-36.pyc
.cache
*.png
*.code-workspace
docs/build/*
figures
*/.ipynb_checkpoints
.ipynb_checkpoints


documentation/*
research/ *.csv
research/did_not_pass_chems_peak_allowable.csv
research/did_not_pass_chems_mean_allowable.csv
